.inspiration_card {
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 100ms ease-in;
    cursor: pointer;
    width: 300px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
}

.inspiration_card:hover {
    transform: scale(1.07);
}

.inspiration_card > img {
    width: 300px;
    height: 200px;
    width: 100%;
}

.inspiration_card_info {
    margin-top: -9px;
    height: 155px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
    background-color: #ff385c;
    color: white;
}

.inspiration_card_info > h2 {
    font-size: 25px;
    font-weight: 700;
}

.inspiration_card_info > h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
}